In [1]:
print("Hello World ")

Hello World

In [3]:
import numpy as np
np.array([1, 2, 3])

array([1, 2, 3])

In [ ]:
ar = np.arange(17)
ar
3 * ar

In [ ]:
import pandas as pd
my_series = pd.Series()
print(my_series)

In [3]:
import numpy as np
my_array = np.array([10, 20, 30, 40, 50])
my_series = pd.Series(my_array)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
my_series = pd.Series(my_array, index = ["num1", "num2", "num3", "num4",
"num5"])
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int64

In [ ]:
import pandas as pd
my_series = pd.Series([10, 20, 30, 40, 50], index = ["num1", "num2","num3", "num4", "num5"])
print(my_series[0])
print(my_series['num3'])

### Create a `Pandas dataframe` using a list

In [8]:
import pandas as pd
scores = [['Mathematics', 85], ['English', 91], ['History', 95]]
my_df = pd.DataFrame(scores, columns = ['Subject', 'Score'])
my_df

       Subject  Score
0  Mathematics     85
1      English     91
2      History     95

### `Dataframe` using list of lists

In [9]:
import pandas as pd
scores = [['Mathematics', 85], ['English', 91], ['History', 95]]
my_df = pd.DataFrame(scores, columns = ['Subject', 'Score'])
my_df

       Subject  Score
0  Mathematics     85
1      English     91
2      History     95

### Create `Dataframe` using dictionaries

In [11]:
import pandas as pd
scores = {'Subject':["Mathematics", "History", "English", "Science", "Arts"], 
          'Score':[98, 75, 68, 82, 99] }
scores

{'Subject': ['Mathematics', 'History', 'English', 'Science', 'Arts'],
 'Score': [98, 75, 68, 82, 99]}

### Create `Dataframe` using list of dictionaries
##Missing dictionary entries in the list are assigned NAN##

In [12]:
import pandas as pd
scores = [
{'Subject':'Mathematics', 'Score':85},
{'Subject':'History', 'Score':98},
{'Subject':'English', 'Score':76},
{'Subject':'Science', 'Score':72},
{'Subject':'Arts', 'Score':95},
]
my_df = pd.DataFrame(scores)
my_df

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3      Science     72
4         Arts     95

### Operations on a Dataframe `viewing header`

In [ ]:
import pandas as pd
scores = [
{'Subject':'Mathematics', 'Score':85},
{'Subject':'History', 'Score':98},
{'Subject':'English', 'Score':76},
{'Subject':'Science', 'Score':72},
{'Subject':'Arts', 'Score':95},
]
my_df = pd.DataFrame(scores)
my_df.head()    # use my_df.tail() for bottom rows

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3      Science     72
4         Arts     95

In [16]:
# getting dataframe info
my_df = pd.DataFrame(scores)
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  5 non-null      object
 1   Score    5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [ ]:
# getting info about numeric columns
my_df = pd.DataFrame(scores)
my_df.describe()

### Importing Data in Pandas
- CSV --- use read_csv()
- tsv --- use read_tsv()
- PostgreSQL DB --- first `pip install SQLAlchemy` then following: 
  - from sqlalchemy import create_engine
  - engine = create_engine('postgresql://postgres:abc123@localhost:5432/Titanic')
  - To store the records returned by the query in a Pandas dataframe, the query and the connection object are passed to the pd_read_sql() function of the Pandas dataframe. Finally,the dataframe header is printed to display the first five rows of the imported table. Commented out code below does it.

In [ ]:
# import pandas as pd
# titanic_data =pd.read_sql_query('select * from "records"',con=engine)
# titanic_data.head()