# Pandas++: Additional Data Processing Support
__Data cleaning in pandas DataFrame__
 - Handling duplicate data
 - Handling missing values in data
 - Others include Grouping and aggregation, merging etc
   
Let's load the `IMDB5000` data into a dataframe

In [ ]:
import pandas as pd
df = pd.read_csv('IMDB5000movies.csv')
df.head(10)

**Selecting the data for the subset of columns**
To select a subset of columns out of all, we can use a function like - `<dataframe name>[ [col1,col2…]]`. This will return a DataFrame with selected columns. 
**Write a Query to select the top 10 entries but only showing the `director name column` and the `director facebook likes column`**

In [ ]:
# Your Query Here:

**Write a Query to select the `director name column` and the `director facebook likes column` for entries that grossed more than 30 million dollars at the box office**

In [ ]:
# Your Query Here:

# Data cleaning in pandas DataFrame handles
 - Eliminating Duplicate entries for a complete entry or select set of duplicate columns
 - Handling Missing Values in data

We use the `duplicated()` method on a dataframe without parameters when handling entire duplicate entries or the `duplicated(dup_cols_list)` passing in the list of columns with duplicated values in entries. Let's find out the total number of entirely duplicated entries, if any in the set.

In [ ]:
df.duplicated().sum()

You can use the `drop_duplicates()` method to remove duplicates. Note that without a list of the duplicate columns this will only drop entries with a duplicity in the values for all columns, but if we pass the essential columns list, it will drop records that show duplicity in values for specified columns only. Use the `shape` attribute to verify the number of entries and columns of the dataframe.

In [ ]:
df.shape

Now use the `help()` method to investigate the parameters of the `drop_duplicates` method, then **create a code cell to eliminate the duplicate rows in place, rather than as in the result of the returned dataframe object.**

In [ ]:
help(df.drop_duplicates)

# Handling missing values in data
Handling the missing values is a very crucial and essential task. The most straightforward approach is removing the records from the DataFrame that have missing values. But it will not help since in all cases we can lose some important facts from our data. So, another way is to impute the values for the missing data, and there is no single or fixed method to find such values. It depends on several factors like what type of problem it is, its domain, and the business need, or how it will impact our outcomes. In pandas, we have a good list of functions/methods to handle missing data in DataFrame.

**Dropping the rows which have missing data** <br>
In pandas, we have the `dropna()`: method to drop the rows with the missing values:
 - If all columns have missing values (`dropna(how=’all’)`)…
 - If any column has missing values (`dropna(how=’any’)`…
 - If subset of columns or specified columns have missing value (`dropna(subset=[col1,col2…])`…

In [ ]:
help(df.dropna)

**Investigating missing values in columns** <br>
In pandas, we have the `isna()` method to investigate missing values: eg. df.isna.sum() - will give a count of missing values in each column 
 - You can then use the fillna() method to replace missing values in select column <br>
**Investigate missing values by executing the following code cell and examining the output.**

In [ ]:
df.isna.sum()

# Filling the missing values - NaN, not 0, blank, space or 'NA'!
It is not always helpful to delete the records from DataFrame with the missing values. In many cases, we need to infer some values which we can fill or impute in place of missing data. So, to fill the missing values, we can use the fillna() or replace() methods of the dataframe object. These can be used with various options depending on our needs. The following is the code snippet to create a DataFrame df from a Python dictionary with missing values.

In [ ]:
import numpy as np
import pandas as pd

# Create a sample dataframe 
# np.nan inserts a missing value also known as a NaN value

emp_dict = {'Name':['Porter','Abraham','NA','Victoria','Hiroko'],
            'Dept':['Advertising',np.nan,'Accounting',"",'Accounting'],
            'Salary_n_$':[7921,0,9721,np.nan,7443],
            'City':["Connah's Quay","Sanzeno",np.nan,"Neerepen","Sanzeno"]}

df = pd.DataFrame(emp_dict)
df

Let’s see how we can use `fillna()` and `replace()` methods to fill/replace the missing values in DataFrame. Again, note that 0, blank, space and 'NA' are not missing values! We use the `DataFrame.fillna()` method as follows:<br>
`DataFrame.fillna(<value_to_be filled>)` <br>
Whatever we pass in the `fillna()` function will replace all `NaN` by default. See the following example where all `NaN` values are filled with "MissingValue" and compare with the df output above.

In [ ]:
dff = df.fillna("MissingValue")
dff

# `fillna()` with `mean`, `median` and `mode`
We can fill the missing values with more appropriate ones using the `fillna()` method’s statistical parameters. For example, suppose we found some missing values in the salary column. In that case, filling with some constant value is not good; rather, filing that with the `average of all salaries` or the `median of all salaries` will be more appropriate. See the following examples where we will handle the missing values with `mean()`, `median()` and `mode()`

In [ ]:
df_fmean = df[['Salary_n_$']].fillna(df['Salary_n_$'].mean())
df_fmean

In [ ]:
# Let's compare above with the old
df[['Salary_n_$']]

The code to use the `fillna()` method with `median()` of the salary instead:

In [ ]:
df_fmedian = df[['Salary_n_$']].fillna(df['Salary_n_$'].median())
df_fmedian

For categorical or non-numeric columns we can use the `mode` instead

In [ ]:
df_fmode = df[['City']].fillna(df['City'].mode())
df_fmode

# DataFrame.replace()
If you observed the previous examples for `fillna()` function, it deals with only the `NaN values (as pandas consider NaN as missing value )`; it does not replace values like ‘NA,’ 0, blank/space, but these values can also be considered as missing in real-time problem cases. For example, we have a city column, but it has blank/space for some cell or 0 in the salary column, which is also supposed to be considered missing values. So, if we can replace these values with some other values using replace() function, we need to pass old_value and new_value in this function to get new_value by replacing the old_value. Following are the examples which demonstrates how to implement this replace() function with various options.

In [ ]:
# Replacing all dataframe values
df_replace = df.replace({'NA':'Not Applicable',0:5000,"":"Blank",np.nan:"Not a Number!"})
df_replace